// Colors
$primary = #63F9E6
$secondary = #6936D3
$tertiary = #384457
$gray = #EBEEF2
// Brands
$facebook = #3b5998
$twitter = #1da1f2
$linkedin = #0077b5
// Typography
// $family-sans-serif = 'Tajawal', sans-serif
