@import 'variables'

.page-enter-active
.page-leave-active
  transition opacity .6s

.page-enter
.page-leave-to
  opacity 0

html.no-scroll
  overflow hidden

  .main
    filter grayscale(100)

body
  font-family $family-sans-serif

ul
ol
  margin 0
  padding 0

  li
    list-style none

a
  text-decoration none

  &:hover
  &:active
  &:focus
    text-decoration none

h1
h2
h3
h4
h5
h6
  margin 0

.popup-opened
  overflow hidden

.container
  padding 0
  width 1170px

  @media (max-width: 768px)
    padding 0 20px
    width 100%

.small-container
  margin auto
  width 800px

  @media (max-width: 768px)
    width 100%

.medium-container
  margin auto
  width 860px

.mobile-container
  padding 0 20px

.button
  position relative
  display inline-flex
  justify-content center
  align-items center
  overflow hidden
  padding 5px 20px 4px
  height 40px
  outline none
  border none
  background-color $primary
  color $secondary
  text-transform uppercase
  letter-spacing 2px
  font-weight 600
  font-size 12px

  &:after
    position absolute
    top 0
    left -100%
    z-index 2
    width 100%
    height 100%
    background-color rgba(0, 0, 0, .1)
    content ''
    transition all .35s ease-in

  &:hover
    &:after
      left 0

  &.no-background
    padding 0
    background-color transparent
    color #FFF

    &:after
      display none

  &.has-icon
    .fa
    img
      display block
      margin-right 12px
      font-size 15px

    &.right-icon
      .fa
      img
        margin-right 0
        margin-left 12px

  &.has-ex-w
    width 160px

  &.white-button
    background-color #FFF

  &.inverse-button
    background-color $secondary
    color #FFF
    font-weight 500

.form-control
  &.has-custom
    padding-left 20px
    height 40px
    border 2px solid transparent
    border-radius 0
    background-color rgba($secondary, .03)
    box-shadow none
    color $secondary
    text-transform uppercase
    letter-spacing 2px
    font-weight 600
    font-size 12px
    transition all .25s ease-in

    &::placeholder
      color $secondary

    &:focus
      border-color $secondary

textarea
  &.no-resize
    resize none

.is-relative
  position relative

.is-absolute
  position absolute
  top 0
  left 0
  z-index 1
  width 100%
  height 100%

.checking
  margin-bottom 20px

  .check
    position absolute
    left -9999px

    &:not(:checked)
    &:checked
      + label
        &:before
          position absolute
          top 4px
          left 0
          width 16px
          height 16px
          border 2px solid #c7cace
          border-radius 3px
          background-color #FFF
          content ''

        &:after
          position absolute
          top 6px
          left 2.5px
          display flex
          justify-content center
          align-items center
          width 12px
          height 12px
          color $secondary
          content '\f00c'
          font-size 10px
          font-family 'FontAwesome'
          transition all .2s ease
          transform scale(0)

    &:checked
      + label
        &:before
          border-width 2px
          border-color $secondary

        &:after
          transform scale(1)

  label
    position relative
    display flex
    align-items flex-end
    margin-bottom 0
    padding-left 30px
    color #616d82
    font-weight 400
    font-size 14px
    opacity .8
    cursor pointer

.form-status
  display grid
  margin 0 0 20px auto
  width 100px
  grid-template-columns repeat(3, 1fr)
  grid-column-gap 5px

  li
    height 3px
    border-radius 10px
    background-color #ebeef2

.simple-heading
  margin-bottom 60px

  h2
    margin-bottom 20px
    color #384457
    font-weight 600
    font-size 28px

  p
    margin-bottom 20px
    color #616d82
    font-size 18px
    line-height 1.56

    &.small-p
      color #616d82
      font-size 14px
      opacity .8

    &:last-child
      margin-bottom 0

.is-flex
  display flex
  justify-content space-between
  align-items center

  &.baseline
    align-items baseline

  &.is-center
    justify-content center

  &.is-column
    flex-direction column

.search-area
  padding 60px 0 120px

  .search-header
    .search-title
      color #384457
      font-weight 500
      font-size 28px

    .number-found
      color #616d82
      font-size 14px
      opacity .8

  .right-area
    img
      width 28px
      height 28px
      cursor pointer

  .search-body
    p
      color #616d82
      font-size 18px
      line-height 28px

      &:last-child
        margin-bottom 0

    &.has-overlay
      position relative
      padding-top 40px

      &:after
        position absolute
        top 0
        left 0
        z-index 1
        width 100%
        height 100%
        background-image linear-gradient(to top, rgba(255, 255, 255, 0), #FFF)
        content ''

  .search-form
    margin-bottom 40px
    padding-bottom 40px
    border-bottom 2px solid #ebeef2

    .form
      margin 40px auto 0
      width 580px

      .form-group
        position relative
        margin-bottom 0
        width 280px

        img
          position absolute
          top 50%
          right 20px
          transform translateY(-50%)

      .inputs
        margin-bottom 10px

  .search-error
    p
      margin-bottom 0
      color #616d82
      font-size 18px
      line-height 28px

    .error-img
      padding 60px 0
      border-bottom 2px solid #ebeef2

.is-loader
  position relative
  background-color rgba($secondary, .05)

  .post-loader
    position absolute
    top 50%
    left 50%
    width 30px
    height 30px
    transition opacity .25s ease-in-out
    transform rotateZ(45deg) translate(-50%, -50%)

    .sk-cube
      position relative
      float left
      width 50%
      height 50%
      transform scale(1.1)

      &:before
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        background-color rgba(56, 68, 87, .5)
        content ''
        transform-origin 100% 100%
        animation sk-foldCubeAngle 2.4s infinite linear both

      &.sk-cube2
        transform scale(1.1) rotateZ(90deg)

        &:before
          animation-delay .3s

      &.sk-cube3
        transform scale(1.1) rotateZ(180deg)

        &:before
          animation-delay .6s

      &.sk-cube4
        transform scale(1.1) rotateZ(270deg)

        &:before
          animation-delay .9s

@keyframes sk-foldCubeAngle
  0%
  10%
    opacity 0
    transform perspective(140px) rotateX(-180deg)
    -webkit-transform perspective(140px) rotateX(-180deg)

  25%
  75%
    opacity 1
    transform perspective(140px) rotateX(0)
    -webkit-transform perspective(140px) rotateX(0)

  90%
  100%
    opacity 0
    transform perspective(140px) rotateY(180deg)
    -webkit-transform perspective(140px) rotateY(180deg)

ins.adsbygoogle
  margin 20px 0
