@import 'variables'
html.no-scroll
  overflow hidden
  .main
    filter grayscale(100)
body
  font-family $family-sans-serif
ul,
ol
  padding 0
  margin 0
  li
    list-style none
a
    text-decoration none
    &:hover,
    &:active,
    &:focus
        text-decoration none

h1,h2,h3,h4,h5,h6
    margin 0

.popup-opened
    overflow hidden

.container
    width 1170px
    padding 0
.small-container
    width 800px
    margin auto
.medium-container
    width 860px
    margin auto
.mobile-container
  padding 0 20px

.button
    position relative
    background-color $primary
    color $secondary
    border 0
    height 40px
    display inline-flex
    align-items center
    justify-content center
    padding 5px 20px 4px
    font-size 12px
    font-weight 600
    letter-spacing 2px
    text-transform uppercase
    outline none
    overflow hidden
    &:after
        content ""
        position absolute
        left -100%
        top 0
        width 100%
        height 100%
        background-color rgba(0, 0, 0, .1)
        z-index 2
        transition all .35s ease-in
    &:hover
        &:after
            left 0
    &.no-background
        background-color transparent
        color #FFF
        padding 0
        &:after
            display none
    &.has-icon
        .fa,
        img
            display block
            margin-right 12px
            font-size 15px
        &.right-icon
            .fa,
            img
                margin-left 12px
                margin-right 0
    &.has-ex-w
        width 160px
    &.white-button
        background-color #FFF
    &.inverse-button
        background-color $secondary
        color #FFF
        font-weight 500

.form-control
    &.has-custom
        height 40px
        border-radius 0
        border 2px solid transparent
        box-shadow none
        color $secondary
        text-transform uppercase
        font-size 12px
        font-weight 600
        letter-spacing 2px
        background-color rgba($secondary, .03)
        padding-left 20px
        transition all .25s ease-in
        &::placeholder
            color $secondary
        &:focus
            border-color $secondary
textarea
    &.no-resize
        resize none
.is-relative
  position relative
.is-absolute
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    z-index 1
.checking
    margin-bottom 20px
    .check
        position absolute
        left -9999px
        &:not(:checked),
        &:checked
            + label
                &:before
                    content: ""
                    border 2px solid #c7cace
                    border-radius 3px
                    background-color #FFF
                    position absolute
                    top 4px
                    width 16px
                    height 16px
                    left 0

                &:after
                    content "\f00c"
                    left 2.5px
                    font-family "FontAwesome"
                    color $secondary
                    width 12px
                    height 12px
                    position absolute
                    top 6px
                    transition all .2s ease
                    transform scale(0)
                    font-size 10px
                    display flex
                    align-items center
                    justify-content center

        &:checked
            + label
                &:before
                    border-width 2px
                    border-color $secondary
                &:after
                    transform scale(1)
    label
        font-size 14px
        font-weight 400
        color #616d82
        opacity .8
        margin-bottom 0
        position relative
        padding-left 30px
        cursor pointer
        display flex
        align-items flex-end
.form-status
    display grid
    width 100px
    grid-template-columns repeat(3, 1fr)
    grid-column-gap 5px
    margin 0 0 20px auto
    li
        background-color #ebeef2
        height 3px
        border-radius 10px
.simple-heading
    margin-bottom 60px
    h2
        color #384457
        font-size 28px
        font-weight 600
        margin-bottom 20px
    p
        font-size 18px
        color #616d82
        margin-bottom 20px
        line-height 1.56
        &.small-p
            font-size 14px
            color #616d82
            opacity .8
        &:last-child
            margin-bottom 0
.is-flex
    display flex
    align-items center
    justify-content space-between
    &.baseline
        align-items baseline
    &.is-center
        justify-content center
    &.is-column
        flex-direction column
.search-area
    padding 60px 0 120px
    .search-header
        .search-title
            font-size 28px
            color #384457
            font-weight 500
        .number-found
            font-size 14px
            color #616d82
            opacity .8
    .right-area
        img
            width 28px
            height 28px
            cursor pointer
    .search-body
        p
            font-size 18px
            line-height 28px
            color #616d82
            &:last-child
                margin-bottom 0
        &.has-overlay
            position relative
            padding-top 40px
            &:after
                content ""
                position absolute
                top 0
                left 0
                width 100%
                height 100%
                background-image linear-gradient(to top, rgba(255, 255, 255, 0), #FFF)
                z-index 1
    .search-form
        padding-bottom 40px
        margin-bottom 40px
        border-bottom 2px solid #ebeef2
        .form
            width 580px
            margin 40px auto 0
            .form-group
                margin-bottom 0
                width 280px
                position relative
                img
                    position absolute
                    top 50%
                    right 20px
                    transform translateY(-50%)
            .inputs
                margin-bottom 10px
    .search-error
        p
            color #616d82
            font-size 18px
            line-height 28px
            margin-bottom 0
        .error-img
            padding 60px 0
            border-bottom 2px solid #ebeef2
.is-loader {
  position: relative;
  background-color: rgba($secondary, .05);
  .post-loader {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 30px;
        height: 30px;
        transform: rotateZ(45deg) translate(-50%, -50%);
        transition: opacity .25s ease-in-out;

        .sk-cube {
            float: left;
            width: 50%;
            height: 50%;
            position: relative;
            transform: scale(1.1);

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(56,68,87,0.5);
                animation: sk-foldCubeAngle 2.4s infinite linear both;
                transform-origin: 100% 100%;
            }

            &.sk-cube2 {
                transform: scale(1.1) rotateZ(90deg);

                &:before {
                    animation-delay: 0.3s;
                }
            }

            &.sk-cube3 {
                transform: scale(1.1) rotateZ(180deg);

                &:before {
                    animation-delay: 0.6s;
                }
            }

            &.sk-cube4 {
                transform: scale(1.1) rotateZ(270deg);

                &:before {
                    animation-delay: 0.9s;
                }
            }
        }
    }
}
@keyframes sk-foldCubeAngle {

        0%,
        10% {
            -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
            opacity: 0;
        }

        25%,
        75% {
            -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
            opacity: 1;
        }

        90%,
        100% {
            -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
            opacity: 0;
        }
    }
