@font-face {
    font-family: "AvenirNextLTPro";
    src: url("fonts/AvenirNextLTPro-Bold.otf") format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: "AvenirNextLTPro";
    src: url("fonts/AvenirNextLTPro-Demi.otf") format("opentype");
    font-weight: 600;
}

@font-face {
    font-family: "AvenirNextLTPro";
    src: url("fonts/AvenirNextLTPro-Heavy.otf") format("opentype");
    font-weight: 900;
}

@font-face {
    font-family: "AvenirNextLTPro";
    src: url("fonts/AvenirNextLTPro-Medium.otf") format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: "AvenirNextLTPro";
    src: url("fonts/AvenirNextLTPro-Regular.otf") format("opentype");
    font-weight: 400;
}
